
/*
 * Global URL colors
 */

a, a:hover {
    color: #C43B29;
}
a:focus {
    color: #a02f20;
}


/*
 * Sidebar/
 */

/* Hide for mobile, show later */
.sidebar {
    background-color: #eee;
    bottom: 0;
    left: 0;
    padding: 20px 0px 0px 35px;
    border-radius: 5px;
    font-size: 15px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 1px;
}

.nav-sidebar > li.active {
  font-weight: 500;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #C43B29!important;
  border-radius: 5px;
}

.nav-sidebar li a:hover {
  border-radius: 5px;
  color: white;
  background-color: gray!important;
}

.nav-sidebar ul.nested_menu {
  list-style-type: none;
  font-weight: normal;
}

.nav-sidebar ul.nested_menu li:hover {
  background-color: gray;
}

.nav-sidebar ul.nested_menu li{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.nav-sidebar ul.nested_menu li.active {
  background-color: #666;
}

.nav-sidebar ul.nested_menu a {
  display: block;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  background-color: transparent!important;
}

.nav-sidebar ul.nested_menu .active > a {
  font-weight: bold;
  color: white;

}

.navbar-header a span {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #C43B29;
  text-decoration: none;
}

.navbar-header a {
   text-decoration: none!important;
   padding-left: 20px;
}

.navbar-header img {
    height: 55px;
    background-color: #eee;
}

.navbar.header {
  background-color: #eee;
  height: 55px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 0px;
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #C43B29;
}

/*
 * Main content
 */

.main {
  padding: 0px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Common styles for reports
 */

.main .report_line div {
  margin: 5px;
  height: 80px;
}

.report_line .chart {
  padding: 0px;
  margin: 0px;
}

.main .pile {
  padding-left: 5px;
  padding-right: 5px;
}

.main .pile div {
  color: white;
  vertical-align: middle;
  display: table-cell;
  float: none;
  width: inherit;
  height: inherit;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
}

.main .status-red {
    background-color: #fd5308;
}

.main .status-green {
    background-color: #66b132;
}

.main .status-orange {
    background-color: #fb9902;
}


/* D3 elements */

svg.line_chart text {
    font-size: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
}

svg.line_chart text.title {
    font-size: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

svg.line_chart .axis path,
svg.line_chart .axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

svg.line_chart .line {
  fill: none;
  stroke: #ec8e1d;
  stroke-width: 1.5px;
}
