
/*
 * Sidebar/
 */

/* Hide for mobile, show later */
.sidebar {
    background-color: #eee;
    bottom: 0;
    left: 0;
    padding: 20px 0px 0px 35px;
    border-radius: 5px;
    font-size: 16px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li.active {
  font-weight: 500;
}


.nav-sidebar a {
  color: #EF9F3F;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #ec8e1d!important;
  border-radius: 5px;
}

.nav-sidebar li a:hover {
  border-radius: 5px;
  color: white;
  background-color: gray!important;
}

.nav-sidebar ul.nested_menu {
  list-style-type: none;
}

.nav-sidebar ul.nested_menu li:hover {
  background-color: gray;
}


.nav-sidebar ul.nested_menu li{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}


.nav-sidebar ul.nested_menu li.active {
  background-color: #666;
}


.nav-sidebar ul.nested_menu a {
  display: block;
  padding: 5px 5px 5px 15px;
  text-decoration: none;
  background-color: transparent!important;
}


.nav-sidebar ul.nested_menu .active > a {
  font-weight: bold;
  color: white;

}


.navbar-header a span {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ec8e1d;
}


.navbar.header {
  background-color: #666;
  height: 55px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 0px;
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #ec8e1d;
}

/*
 * Main content
 */

.main {
  padding: 0px;
}

.main .page-header {
  margin-top: 0;
}

