{% extends "layout.html" %}


{% block head %}

    <style>
        iframe {
            width: 100%;
            top: 0;
            height: calc(100vh - 100px);
            border: 0;
        }
    </style>


{% endblock %}


{% block infra_menu %}
    <ul class="nested_menu">
        <li{% if not active_page %} class="active"{% endif %}>
            <a href="/infra"> Overview </a>
        </li>

        {% for page in pages %}
            <li {% if page['menu'] == active_page['menu'] %} class="active"{% endif %}>
                <a href="/infra/{{ page['menu'] }}"> {{ page["title"] }} </a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}


{% block body %}

    {% if not active_page %}
    <h1> Infrastructure Management</h1>
    <p> Provide Embedded UI for all Infrastructure management tooling: </p>

    <ul>
        {% for page in pages %}
            <li>{{ page["title"] }} - {{ page["description"] }}</li>
        {% endfor %}
    </ul>

    {% else %}
        <h1> {{ active_page["full_title"] }} </h1>
        <p> {{ active_page["description"] }}
        <a href="{{ active_page['iframe'] }}"> Open in new window </a>
        </p>
        <iframe src="{{ active_page['iframe'] }}"> </iframe>

    {% endif %}


{% endblock %}
