{
    "flask": {
        "PORT": {{ ceagle.port.cont }},
        "HOST": "0.0.0.0",
        "DEBUG": {% if ceagle.debug %}true{% else %}false{% endif %}
    },
    "services": {
        "availability": "http://{{ address("availability-api", port=availability.port) }}",
        "health": "http://{{ address("health-api", port=health.port) }}"
    }
}
