{% extends "layout.html" %}


{% block body %}

    <h1>Cloud Resource Optimization</h1>

    <br /><h4> ... Coming Soon ...</h4><br />

    <ul>
        <li> Monitor usage of different virtual resources and cleanup them.</li>
        <li> Some Examples:
            <ul>
                <li> VMs without any network, io traffic and low cpu usage for weeks should be deleted </li>
                <li> Images that haven't used for more than some period of time</li>
            </ul>
        </li>
    </ul>

{% endblock %}
