{% extends "layout.html" %}

{% block head %}
    <style>
        div.marketing div {
            background-color: #EEE;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }

        div.marketing h4 {
            padding: 0px;
            margin: 0px 0px 15px 0px;
            text-align: center;
        }

        div.marketing p {
            text-align: center;
            color: gray;
        }

        div.marketing hr {
            border-color: white;
        }

        @media screen and (min-width: 992px) and (max-width: 1210px) {
            .marketing div {
                min-height: 180px;
            }
        }

        @media screen and (min-width: 1210px) and (max-width: 1500px){
            .marketing div {
                min-height: 150px;
            }
        }

        @media screen and (min-width: 1500px){
            .marketing div {
                min-height: 130px;
            }
        }

    </style>

{% endblock %}

{% block body %}
    <h1> Fuel DevOps Portal!</h1>

    <p>
    Running clouds is very complicated task hopefully now we have Cloud Eagle
    that simplifies operating clouds by providing multiple functions.
    </p>

    <div class="rows marketing">
        <div class="col-md-3">
            <h4>API Health</h4>
            <p>Shows API healthiness based on HTTP response codes, durations and sizes analyze</p>
        </div>
    </div>

    <div style="clear:both">
        <hr />
        <p> These things are coming soon, stay tuned! </p>
    </div>

    <div class="rows marketing">
        <div class="col-md-3">
            <h4>API Availability</h4>
            <p> Shows API Availability based on metrics collected by monitoring services </p>
        </div>
        <div class="col-md-3">
            <h4>Cloud Performance</h4>
            <p> Shows Key Cloud Performance Metrics based on results of synthetic transactions. </p>
        </div>
        <div class="col-md-3">
            <h4>Cloud Intelligence</h4>
            <p> Query virtual and physical resources of cloud using Google Like search engine. </p>
        </div>
        <div class="col-md-3">
            <h4>Capacity Management</h4>
            <p> Plan your infrastructure capacity based on utilization history and forecasts</p>
        </div>
        <div class="col-md-3">
            <h4>Cloud Optimization</h4>
            <p> Cleanup unused results and reschedule workloads based on load. </p>
        </div>
        <div class="col-md-3">
            <h4>Security Monitoring</h4>
            <p> Monitor security of you cloud resources like VM, Security Groups and Images.</p>
        </div>
    </div>

{% endblock %}
