{% extends "layout.html" %}

{% block body %}
    <h1> Cloud Intelligence System</h1>

    <br /> <h4> ... Coming Soon ...</h4> <br />

    <ul>
        <li> Query Virtual and Physical resources by their names, uuids or parameters </li>
        <li> Find resources with their relationships. For example:
            <ul><li>
                Nova virtual machine is returned with info: flavor, security groups, networks, host nodes, users...
            </li></ul>

        </li>
        <li> Walk through all history of all changes of all resources</li>
    </ul>

{% endblock %}
